beancount==3.2.3
beangulp==0.2.0
beautifulsoup4==4.15.0
chardet==7.4.3
click==8.4.1
lxml==6.1.1
python-dateutil==2.9.0.post0
python-magic==0.4.27
regex==2026.5.9
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.15.0
